body {
    font-family: 'Geneva', sans-serif;
    padding-bottom: 56px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.light-mode {
   --color-background: #f8f9fa;
   --color-accent: #0d6efd;
   --font-color: #303841;
}

.zv-nav {
    text-align:center;
    display:block;
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
}

.zv-link {
    color: var(--font-color);
    text-decoration: none;
    padding-left: .5rem;
    padding-right: .5rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.zv-link:hover {
    color: var(--color-accent);
}

.zv-h1 {
    color: var(--color-accent);
    font-size: 40px;
    font-weight: 700;
}

.cb-h1 {
    color: red;
    font-size: 40px;
    font-weight: 700;
}

.zv-text {
    color: var(--font-color);
    font-size: 20px;
}

.zv-text-accent {
    color: var(--color-accent);
}

.zv-h2 {
    color: var(--color-accent);
    font-size: 20px;
    font-weight: 700;
}

.btn-outline-zv {
    color: var(--color-accent);
    border-color: var(--color-accent);
}

.btn-outline-zv:hover {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    color: #FFFFFF;
}

#pie {
    margin: 0 auto;
    color: red;
    background-color: red;
    height: 225px;
    width: 225px;
}

.coin{
    animation: animate 3s linear infinite;
}
@keyframes animate {
0%{
   transform: rotateY(0deg);
}
100%{
    transform: rotateY(360deg);
}
}