<!doctype html>
<html lang="en" style="height:100%; " class="light-mode">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="../static/stylesheet.css" />
        <style>
            .navbar-light .navbar-nav .nav-link  {color: var(--font-color)}
            .navbar-light .navbar-nav .nav-link:hover {color: var(--color-accent);}
            .zv-navbar-bg {background-color: var(--color-background);}
            .btn-danger:focus {
                box-shadow: none;
                background-color: #dc3545;
            }
            .btn-danger.active:focus {
                box-shadow: none;
                background-color: #b02a37;
            }
        </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

        <title>CryptoWorld</title>
    </head>
</html>
    <body style="height:100%; background: var(--color-background)" onload="setupTable();">
        <!-- Navbar -->
        <nav class="navbar navbar-expand navbar-light zv-nav zv-navbar-bg" style="padding-left:20px; padding-right:20px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html" style="color: var(--color-accent);">
                CryptoWorld
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home" style="font-size:23px; padding-left: 20px; padding-right: 20px;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/research" style="font-size:23px; padding-left: 20px; padding-right: 20px;">Research</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/portfolio" style="font-size:23px; padding-left: 20px; padding-right: 20px; color: var(--color-accent);">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faq" style="font-size:23px; padding-left: 20px; padding-right: 20px;">Crypto101</a>
                    </li>
                </ul>

            </div>
        </div>
        </nav>
        
        <!-- Navbar -->
      
        

        <!-- Body Stuff Goes Here -->
        <div class="container" style="max-width:1680px;">

            <div class="row justify-content-center" style="margin-bottom: 20px;">
                <p class="zv-h1 text-center" id="header_cryptoTicker">Your Portfolio</p>
                <button class="btn btn-danger" style="width:auto;" data-bs-toggle="modal" data-bs-target="#howtopopup">How to use this tool!</button>
            </div>

            <div class="row form-group" style="width:85%; margin:auto;">

                <!-- <div class="col-md-6"> -->

                    <p class="zv-h2" style="text-align: center;">Your Current Investments</p>
                    <h1 class="cb-h1" style="text-align: center;">{{inval}}</h1>

                    <form method="POST">
                        <div class="row justify-content-center" style="margin-bottom: 10px;">
                            <div class="col-sm-3">
                                <div class="listen" style="display: flex;">
                                    <input type="text" class="form-control" placeholder="Ticker" aria-label="Enter Ticker"
                                        aria-describedby="button-addon2" id="add_ticker" name="add_ticker"/>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="listen" style="display: flex;">
                                    <input type="text" class="form-control" placeholder="Percent Allocation" aria-label=""
                                        aria-describedby="button-addon2" id="add_allocation" name="add_allocation"/>
                                </div>
                            </div>
                            <div class="col-sm-auto">
                                <button class="btn btn-primary" type="submit" id="btn_addticker" name="submitbutton" value="add">Add</button>
                            </div>
                            <div class="col-sm-auto">
                                <button class="btn btn-danger" type="submit" id="btn_resettickers" name="submitbutton" value="reset">Reset</button>
                            </div>
                        </div>
                    </form>
                                      
                    <!-- Table of current investments go here -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Ticker</th>
                                <th scope="col" style="color:#1f77b4;">Your Portfolio</th>
                                <th scope="col" style="color:#ff7f0e;">L Portfolio</th>
                                <th scope="col" style="color:#2ca02c;">M Portfolio</th>
                                <th scope="col" style="color:#d62728;">A Portfolio</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="currentInvestmentsTable">
                            {% for item in tickers %} 
                                <tr>
                                    <th scope="row">{{item[0]}}</th>
                                    <td style="color:#1f77b4;">{{item[1]}}</td>
                                    <td style="color:#ff7f0e;">{{item[2]}}</td>
                                    <td style="color:#2ca02c;">{{item[3]}}</td>
                                    <td style="color:#d62728;">{{item[4]}}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                <!-- </div> -->

            </div>

            <div class="row form-group" style="width:85%; margin:auto;">
                
                <div>
                    <div id={{ chartID|safe }} class="chart" style="height: 550px;"></div>
                    <script type = "text/javascript">
                        var chart_id = {{ chartID|safe }}
                        var title = {{ title|safe }}
                        var data = {{ data|safe }}
                    </script>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
                    <script src="https://code.highcharts.com/stock/highstock.js"></script> 
                    <script src="../static/js/main.js"></script>
                </div>
            </div>

            <div class="row" style="width:85%; margin:auto; min-height:500px;">
                <div class="col-md-6" style="padding-right: 20px;">
                    <!--Statistics Table Goes Here-->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Statistics</th>
                                <th scope="col">Your Portfolio</th>
                                <th scope="col">L Portfolio</th>
                                <th scope="col">M Portfolio</th>
                                <th scope="col">A Portfolio</th>
                            </tr>
                        </thead>
                        <tbody id="statisticsTable">
                            <tr>
                                <th scope="row">Cumulative Return</th>
                                <td>{{stats[0]}}</td>
                                <td>{{stats[1]}}</td>
                                <td>{{stats[2]}}</td>
                                <td>{{stats[3]}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Sortino Ratio</th>
                                <td>{{stats[4]}}</td>
                                <td>{{stats[5]}}</td>
                                <td>{{stats[6]}}</td>
                                <td>{{stats[7]}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Sharpe Ratio</th>
                                <td>{{stats[8]}}</td>
                                <td>{{stats[9]}}</td>
                                <td>{{stats[10]}}</td>
                                <td>{{stats[11]}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Max Drawdown</th>
                                <td>{{stats[12]}}</td>
                                <td>{{stats[13]}}</td>
                                <td>{{stats[14]}}</td>
                                <td>{{stats[15]}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Recovery Factor</th>
                                <td>{{stats[16]}}</td>
                                <td>{{stats[17]}}</td>
                                <td>{{stats[18]}}</td>
                                <td>{{stats[19]}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Serenity Index</th>
                                <td>{{stats[20]}}</td>
                                <td>{{stats[21]}}</td>
                                <td>{{stats[22]}}</td>
                                <td>{{stats[23]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6" id="scatterPlotDiv">
                    <!--Scatter Plot Goes Here-->
                </div>
            </div>

        </div>
        <!-- Body Stuff Ends Here -->
        
        <div class="modal fade" id="howtopopup" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">How to use the portfolio tool</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body speak">
                     To use the portfolio tool, enter in all the stocks you own or want to test, in a comma seperated list, and then input their allocation percent in the other input box. Ex. AAPL,GOOG,MSFT 20,40,40. The tool will then track the performance of your portfolio from the last 1000 days along with generating three new portfolios for you. The three portfolios will show how adding different amounts of crypto can affect the perfomance of your investments.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        <footer class="bg-light text-center text-lg-start">
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
              © 2021 Copyright:
              <a class="text-dark">CryptoWorld</a>
            </div>
            <!-- Copyright -->
          </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/js/textToSpeech.js"></script>
    <script src="../static/js/speechRecognition.js"></script>
    <script>
        const jsScatterPlotList = {{scatterplotlist | safe}};
            
        function setupTable() {
            // Add ticker to list of cookies
            // Get string of cookies
            // Append new ticker
            // Set cookie
            //cookie_tickers = getCookie("portfolio_tickers");
            //alert( cookie_tickers );
            //cookie_tickers += $("#add_ticker").val();
            //cookie_tickers += ",";
            //setCookie("portfolio_tickers", cookie_tickers, 365);
            //alert( cookie_tickers );
            //cookie_allocation = getCookie("portfolio_allocations");
            //cookie_allocation += $("#add_allocation").val();
            //cookie_allocation += ",";
            //setCookie("portfolio_allocations", cookie_allocation, 365);
            //alert( cookie_allocation );
            var data = [];
            
            for (var i = 0; i < jsScatterPlotList.length; i++) {
                //alert(jsScatterPlotList[i][1]);
                var trace = {
                    x: [jsScatterPlotList[i][1]],
                    y: [jsScatterPlotList[i][2]],
                    name: jsScatterPlotList[i][0],
                    mode: 'markers',
                    type: 'scatter',
                    marker: { size: 12 }
                };
                data.push( trace );
            }
            
            var layout = {
                title: 'Risk vs Return Plot',
                showlegend: true,
                paper_bgcolor: 'rgba(0,0,0,0)',
                plot_bgcolor: 'rgba(0,0,0,0)',
                legend: {"orientation": "v"},
                xaxis: {title: {text: 'CAGR %'},},
                yaxis: {title: {text: 'Volatility %'}}
            };


            Plotly.newPlot('scatterPlotDiv', data, layout, {staticPlot: true});
            
        }

        function removeTicker(input) {
            document.getElementById('currentInvestmentsTable').removeChild(input.parentNode.parentNode);
        }

        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            let expires = "expires="+d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

    </script>
  </body>
</html>