<!doctype html>
<html lang="en" style="height:100%; " class="light-mode">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="../static/stylesheet.css" />
        <style>
            .navbar-light .navbar-nav .nav-link  {color: var(--font-color)}
            .navbar-light .navbar-nav .nav-link:hover {color: var(--color-accent);}
            .zv-navbar-bg {background-color: var(--color-background);}
            .btn-danger.active:focus {
                box-shadow: none;
                background-color: #b02a37;
            }
            .mic {
                border-radius: 0px;
            }
        </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

        <title>CryptoWorld</title>
    </head>
    <body style="height:100%; font-family: 'Trebuchet MS', sans-serif; background: var(--color-background);">
      
      <!-- Navbar -->
        <nav class="navbar navbar-expand navbar-light zv-nav zv-navbar-bg" style="padding-left:20px; padding-right:20px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html" style="color: var(--color-accent);">
                CryptoWorld
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home" style="font-size:23px; padding-left: 20px; padding-right: 20px;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/research" style="font-size:23px; padding-left: 20px; padding-right: 20px; color: var(--color-accent);">Research</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/portfolio" style="font-size:23px; padding-left: 20px; padding-right: 20px;">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/faq" style="font-size:23px; padding-left: 20px; padding-right: 20px;">Crypto101</a>
                    </li>
                </ul>
            </div>
        </div>
      </nav>
        
      <!-- Navbar -->
      
      <!-- Body Stuff Goes Here -->
      <div class="container-fluid" style="padding-top:50px;">
        <div class="row justify-content-center" style="margin-bottom: 10px;">
            <!--Back Button-->  
            
            <!--Search Bar-->
            <form method="POST" >
                
                <div class="input-group mb-3" style="width: 25%; margin: auto; position: relative; left: -19px;">
                    <a href="/research" class="text-center" style="margin-right: 10%;">
                        <button class="btn btn-primary" type="button"><i class="bi bi-arrow-left"></i></button>
                    </a>

                    <form method = "POST"> 
                        <div class="input-group mb-3" style="width: 75%; margin: auto;">
                            <div class="listen" style="display: flex;">
                                <input type="text" class="form-control" placeholder="Search for Crypto" aria-label="Enter Ticker" aria-describedby="button-addon2" name = "ticker">
                            </div>
                            <button class="btn btn-primary" type="submit" id="button-addon2"><i class="bi bi-search"></i></button>
                        </div>
                    </form>
                </div>
            </form>
        </div>
        <div class="row justify-content-center" style="margin-bottom: 20px;">
            <!--Current Crypto Ticker Header-->
            <p class="zv-h1 text-center" id="header_cryptoTicker">{{coin_name | safe}}</p>  
        </div>
        <div class="row justify-content-center" style="margin-bottom:50px;">
            <!--Description of Crypto-->
            <div class="col-4">
                <p class="zv-h1" style="display:inline;">What is {{coin_name | safe}}?</p>
                <!-- <img src={{logo}} style="height: 80px; display:inline;" > -->
                <p class="zv-text speak"> {{ coin_description | safe }} </p>
                <!-- <img src={{logo}}> -->
                <a class= "zv-text" href={{link}}> Link to {{coin_name}} Website </a>
            </div>
            <!--Price Graph of Crypto-->
            <div class="col-6">
                <!-- <p class="text-center">(Graph goes here)</p> -->
                <div id={{ chartID|safe }} class="chart" style="height: 550px;" ></div>
                <script type = "text/javascript">
                    var chart_id = {{ chartID|safe }}
                    var title = {{ title|safe }}
                    var data = {{ data|safe }}
                </script>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
                    <script src="https://code.highcharts.com/stock/highstock.js"></script> 
                    <script src="../static/js/main.js">
                </script>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-bottom: 0px;">
            <!--Scatter Plot-->
            <!-- <p class="text-center">(Graph goes here)</p> -->
        </div>
        <div class="row justify-content-center" style="margin-bottom: 1px;">
            <div class="col-4"><p class="zv-h1">Recent News:</p></div>
            <div class="col-6"></div>
        </div>
        
        <div class="row justify-content-center" style="margin-bottom:50px;">
            <!--News Articles-->
            <div class="col-3">
                <div class="card" style="width: 18rem; margin: auto;">
                    <div class="card-body">
                        <h5 class="card-title">{{ source1 }}</h5>
                        <p class="card-text"> {{headline1 }}</p>
                        <a href= "{{url1}}" class="card-link"> Link to Article </a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem; margin: auto;">
                    <div class="card-body">
                        <h5 class="card-title">{{ source2 }}</h5>
                        <p class="card-text"> {{headline2 }}</p>
                        <a href= "{{url2 }}" class="card-link"> Link to Article</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem; margin: auto;">
                    <div class="card-body">
                        <h5 class="card-title">{{ source3 }}</h5>
                        <p class="card-text"> {{headline3 }}</p>
                        <a href= "{{url3}}" class="card-link"> Link to Article</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!-- Body Stuff Ends Here -->
      
      <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2021 Copyright:
          <a class="text-dark">CryptoWorld</a>
        </div>
        <!-- Copyright -->
      </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="../static/js/textToSpeech.js"></script>
    <script src="../static/js/speechRecognition.js"></script>
  </body>
</html>

